.example-card {
  max-width: 400px;


}

.example-header-image {
  background-size: cover;
}
.mat-card-image{
  display:flex;
  margin:25px;
  width:350px;
  border:2px solid red;
  height:350px;

}
mat-card-actions p{
  padding-left:20px;
}
